# Tiptap Pro Registry
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=${TIPTAP_AUTH_TOKEN}

# Tiptap Cloud Registry
@tiptap-cloud:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=${TIPTAP_AUTH_TOKEN}

# Default registry for other packages
registry=https://registry.npmjs.org/ 