# Tiptap Pro Registry
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=GE2IAQzmp7aYub39RdAuTljTR2ICOeGp3E5U70MYnr4hyzpNVgOKDt+8shWbCoyL

# Tiptap Cloud Registry
@tiptap-cloud:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=GE2IAQzmp7aYub39RdAuTljTR2ICOeGp3E5U70MYnr4hyzpNVgOKDt+8shWbCoyL

# Default registry for other packages
registry=https://registry.npmjs.org/ 